name: Build app

# Run this workflow every time a new commit pushed to your repository
on: push

jobs:
  build:
    name: Build app
    runs-on: ubuntu-latest
    steps:
      - name: Pull code
        uses: actions/checkout@v2
      - name: Print directory
        run: pwd
      - name: Check dotnet cli
        run: dotnet
      - name: Check npm
        run: npm